In [2]:
# SUSANA'S CONTRIBUTION PART 1: Q6 to Q10
# =======================================
# Import necessary modules
import numpy as np
import pandas as pd
import re

# read the csv file into Dataframe: df, and check data is read ok
df = pd.read_csv('data_assignment.csv')
print("The Dataset consists of: ", df.shape[0], " rows and ", df.shape[1], " columuns")
df.head(3)

The Dataset consists of:  149999  rows and  13  columuns

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN

In [3]:
# Choose job sector, how many sub-sectors are there in that sector? 
# I tried using Unique function, but couldn't make it work:  np.unique(sector, trim='fb')[source]

# Chose the Accounting Sector, create new dataset
sub_classification = df[df['Classification'] == "Accounting" ].groupby(['Classification','SubClassification'])
sub_classification['Classification'].value_counts()
print('There are',len(sub_classification), 'sub sectors within Accounting')

There are 25 sub sectors within Accounting

In [5]:
# List the names of each sub-sector and it's job posting total
print('Sub Sectors and total job posting numbers:')
df[df['Classification'] == "Accounting" ]['SubClassification'].value_counts()

Sub Sectors and total job posting numbers:

Financial Accounting & Reporting           919
Business Services & Corporate Advisory     805
Accounts Officers/Clerks                   711
Financial Managers & Controllers           674
Payroll                                    530
Accounts Receivable/Credit Control         461
Taxation                                   411
Management Accounting & Budgeting          410
Accounts Payable                           398
Analysis & Reporting                       389
Assistant Accountants                      337
Bookkeeping & Small Practice Accounting    255
Audit - External                           126
Audit - Internal                           121
Other                                      106
Management                                 100
Strategy & Planning                         59
Compliance & Risk                           58
Systems Accounting & IT Audit               49
Treasury                                    44
Insolvency & Corporate Recovery             37
Cost Accounting                             31
Inventory & Fixed Assets                    17
Forensic Accounting & Investigation         17
Company Secretaries                         10
Name: SubClassification, dtype: int64

In [6]:
# List the salary ranges and their total of job postings
# read and set salary ranges from numbers to strings
df['SalaryRange'] = df['LowestSalary'].astype(str) + ' - ' + df['HighestSalary'].astype(str)
df.SalaryRange.value_counts()

0 - 30       27606
40 - 50      17708
60 - 70      14108
100 - 120    13062
70 - 80      12932
80 - 100     12582
50 - 60      12559
30 - 40      12441
150 - 200    11738
120 - 150    10651
200 - 250     4612
Name: SalaryRange, dtype: int64

In [9]:
#Q1.8 List the job types, in each job type, what are the lowest and highest salary?
df_jobtype1 = df.groupby('JobType').agg({'LowestSalary':'min', 'HighestSalary':'max'})[['LowestSalary','HighestSalary']].reset_index()
print(df_jobtype1.head())

           JobType  LowestSalary  HighestSalary
0  Casual/Vacation             0            250
1    Contract/Temp             0            250
2        Full Time             0            250
3        Part Time             0            250

In [8]:
# Q2.1 The salaries are set as HighestSalary and LowestSalary, calc AverageSalary for each job. ****????
from math import *

df['AverageSalary'] = (df["HighestSalary"] + df["LowestSalary"])/2
print(df[['Title', 'AverageSalary']])

                                                    Title  AverageSalary
0                                Casual Stock Replenisher           15.0
1                                Casual Stock Replenisher           15.0
2       RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...           15.0
3                                   Team member - Belrose           15.0
4       Business Banking Contact Centre Specialist, Ni...           15.0
...                                                   ...            ...
149994                           Dance Studio Coordinator           15.0
149995                                 Geology Technician           15.0
149996                         Lead Product Manager UX/UI           15.0
149997                             Junior Primary Teacher           15.0
149998                                  Network Engineer            15.0

[149999 rows x 2 columns]