In [135]:
# SUSANA'S CONTRIBUTION PART 1: Q6 to Q10
# =======================================
# Import necessary modules
import numpy as np
import pandas as pd
import re

# read the csv file into Dataframe: df, and check data is read ok
df = pd.read_csv('data_assignment.csv')
print("The Dataset consists of: ", df.shape[0], " rows and ", df.shape[1], " columuns")
df.head(3)

The Dataset consists of:  149999  rows and  13  columuns

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN

In [116]:
# Choose job sector, how many sub-sectors are there in that sector? 
# I tried using Unique function, but couldn't make it work:  np.unique(sector, trim='fb')[source]

# Chose the Accounting Sector, create new dataset
sub_classification = df[df['Classification'] == "Accounting" ].groupby(['Classification','SubClassification'])
sub_classification['Classification'].value_counts()
print('There are',len(sub_classification), 'sub sectors within Accounting')

There are 25 sub sectors within Accounting

In [118]:
# List the names of each sub-sector and it's job posting total
print('Sub Sectors and total job posting numbers:')
df[df['Classification'] == "Accounting" ]['SubClassification'].value_counts()

Sub Sectors and total job posting numbers:

Financial Accounting & Reporting           919
Business Services & Corporate Advisory     805
Accounts Officers/Clerks                   711
Financial Managers & Controllers           674
Payroll                                    530
Accounts Receivable/Credit Control         461
Taxation                                   411
Management Accounting & Budgeting          410
Accounts Payable                           398
Analysis & Reporting                       389
Assistant Accountants                      337
Bookkeeping & Small Practice Accounting    255
Audit - External                           126
Audit - Internal                           121
Other                                      106
Management                                 100
Strategy & Planning                         59
Compliance & Risk                           58
Systems Accounting & IT Audit               49
Treasury                                    44
Insolvency & Corporate Recovery             37
Cost Accounting                             31
Inventory & Fixed Assets                    17
Forensic Accounting & Investigation         17
Company Secretaries                         10
Name: SubClassification, dtype: int64

In [156]:
#List the salary ranges and their total of job postings
#grouping the salary ranges then calculating their totals   *****????? still need to fix this
salary_range = df["LowestSalary"] + df["HighestSalary"]
salary_range
#group = df.groupby('LowestSalary')
#group.count()

0         30
1         30
2         30
3         30
4         30
          ..
149994    30
149995    30
149996    30
149997    30
149998    30
Length: 149999, dtype: int64

In [188]:
#Q1.8 List the job types, what are the lowest and highest salary?  ***???? lowest and highest
#job_type = df['JobType'].df.sort_values()
job_type = df['JobType'].value_counts()
job_type

Full Time          96410
Contract/Temp      26238
Casual/Vacation    13496
Part Time          10622
Name: JobType, dtype: int64

In [184]:
# Q2.1 The salaries are set as HighestSalary and LowestSalary, calc AverageSalary for each job. ****????

from math import *
#df = df.assign(AverageSalary= df["LowestSalary"] + df["HighestSalary"]/2)
df_low = df['LowestSalary'].mean()
df_high = df['HighestSalary'].mean()
df_low, df_high

(64.90176601177342, 86.07237381582544)